.container {
 display: flex;
 justify-content: center;
 align-items: center;
 height: 100vh;
}

.mainBlock {
 height: 30rem;
 width: 20rem;
 background: #000;
}



.keys {
 width: 100%;
 height: 25rem;
 /* padding-left: 2rem; */
}